.footer {
    background-color: var(--Dark);
    padding: 40px 20px;
    color: var(--White);
}

.footer .content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.footer .content .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .content .links .Brand,
.footer .content .links .AdditionalLinks,
.footer .content .links .UsefulLinks,
.footer .content .links .OurServices {
    padding: 20px;
    margin: 10px;
}

.footer .content .links .AdditionalLinks h3,
.footer .content .links .UsefulLinks h3,
.footer .content .links .OurServices h3 {
    text-transform: uppercase;
}

.footer .content .links .AdditionalLinks ul,
.footer .content .links .UsefulLinks ul,
.footer .content .links .OurServices ul {
    padding: 5px 0;
    margin: 0;
}

.footer .content .links .AdditionalLinks ul li,
.footer .content .links .UsefulLinks ul li,
.footer .content .links .OurServices ul li {
    list-style-type: none;
    margin: 15px 0; 
}

.footer .content .links .AdditionalLinks ul li a,
.footer .content .links .UsefulLinks ul li a,
.footer .content .links .OurServices ul li a {
    color: var(--Gray);
    transition: .2s;
    font-size: 15px;
}

.footer .content .links .AdditionalLinks ul li a:hover,
.footer .content .links .UsefulLinks ul li a:hover,
.footer .content .links .OurServices ul li a:hover {
    color: var(--White);
}

.footer .content .links .Brand p {
    color: var(--Gray);
}

.footer .content .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .content .copyright h5 {
    color: var(--Light-Gray);
    font-weight: initial;
}

.footer .content .copyright h5 a {
    color: var(--White);
    font-weight: bold;
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    .footer .content .links {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 900px) {
    .footer .content .links {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .footer {
        padding: 0 20px;
    }

    .footer .content .links {
        grid-template-columns: 1fr;
    }

    .footer .content .links .Brand,
    .footer .content .links .AdditionalLinks,
    .footer .content .links .UsefulLinks,
    .footer .content .links .OurServices {
        padding: 20px 0;
        margin: 10px 0;
    }

    .footer .content .copyright {
        padding: 20px;
        padding-top: 0;
        padding-bottom: 30px;
    }
}