/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Colors */
:root {
  --White: #ffffff;
  --Black: #000000;
  --Dark: #262626;
  --Gray1: rgb(81, 81, 81);
  --Gray: gray;
  --Gray2: #dddddd;
  --Light-Gray: #eeeeee;
  --Brown: #a67c52;
}